@font-face
  font-family: 'sell-icon'
  src:  url('../fonts/sell-icon.eot?ez0k1q')
  src:  url('../fonts/sell-icon.eot?ez0k1q#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?ez0k1q') format('truetype'),
    url('../fonts/sell-icon.woff?ez0k1q') format('woff'),
    url('../fonts/sell-icon.svg?ez0k1q#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-add_circle:before
  content: "\e900"

.icon-arrow_lift:before
  content: "\e901"

.icon-check_circle:before
  content: "\e902"

.icon-close:before
  content: "\e903"

.icon-favorite:before
  content: "\e904"

.icon-keyboard_arrow_right:before
  content: "\e905"

.icon-remove_circle_outline:before
  content: "\e906"

.icon-shopping_cart:before
  content: "\e907"

.icon-thumb_down:before
  content: "\e908"

.icon-thumb_up:before
  content: "\e909"

.icon-quill:before
  content: "\e90a"

.icon-pen:before
  content: "\e90b"

.icon-blog:before
  content: "\e90c"

.icon-eyedropper:before
  content: "\e90d"

.icon-droplet:before
  content: "\e90e"

.icon-paint-format:before
  content: "\e90f"

.icon-image:before
  content: "\e910"

.icon-images:before
  content: "\e911"

.icon-pacman:before
  content: "\e916"

.icon-spades:before
  content: "\e917"

.icon-clubs:before
  content: "\e918"

.icon-diamonds:before
  content: "\e919"

.icon-bullhorn:before
  content: "\e91a"

.icon-connection:before
  content: "\e91b"

.icon-podcast:before
  content: "\e91c"

.icon-feed:before
  content: "\e91d"

.icon-files-empty:before
  content: "\e925"

.icon-file-text2:before
  content: "\e926"

.icon-file-picture:before
  content: "\e927"

.icon-file-music:before
  content: "\e928"

.icon-file-play:before
  content: "\e929"

.icon-file-video:before
  content: "\e92a"

.icon-file-zip:before
  content: "\e92b"

.icon-copy:before
  content: "\e92c"

.icon-folder-upload:before
  content: "\e934"

.icon-price-tag:before
  content: "\e935"

.icon-price-tags:before
  content: "\e936"

.icon-barcode:before
  content: "\e937"

.icon-qrcode:before
  content: "\e938"

.icon-ticket:before
  content: "\e939"

.icon-cart:before
  content: "\e93a"

.icon-coin-dollar:before
  content: "\e93b"

.icon-phone-hang-up:before
  content: "\e943"

.icon-address-book:before
  content: "\e944"

.icon-envelop:before
  content: "\e945"

.icon-pushpin:before
  content: "\e946"

.icon-location:before
  content: "\e947"

.icon-location2:before
  content: "\e948"

.icon-compass:before
  content: "\e949"

.icon-compass2:before
  content: "\e94a"

